*load data to database*

`packages`

In [1]:
# general
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import os, yaml, requests

c:\users\migue\appdata\local\programs\python\python39\lib\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.6) or chardet (5.2.0)/charset_normalizer (2.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

`read data and load to pandas dataframe`

In [2]:
#path = r'C:\Users\migue\Documents\datasets_kaggle\Retail Price Optimization\retail_price.csv'
path = r'data.xlsx'
df = pd.read_excel(path, sheet_name='data')

In [3]:
df.head(1)

,date,day,month,year,product,hour,volume,transactions,avg_by_tkt,price,raining_days,weekday,is_weekend,holiday_name
0,2019-06-09,9,6,2019,diesel,10,47.416,2,23.708,21.09,26.1,7,1,normal day

`set credentials for database connection`

In [4]:
# postgresql key
usr = "postgres"
pwd = "V3lazco_1989"
db =  "kaggle_data"
port = "5432"

# create the engine for the postgresql object
engine = create_engine("postgresql://" + usr + ":" + pwd + "@localhost:5432/" + db)

`load the data into the database`

In [5]:
df.to_sql('data_gas_station', 
          con = engine, 
          if_exists = 'replace', 
          index = False, 
          schema = 'price_optimization')

465